* {
  box-sizing: border-box;
}

body {
  background-color: #EEF5FF;
}

.center {
  display: flex;
  justify-content: center;
}

.app-title {
  color: #A25772;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 5rem;
  margin:auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 1rem;
  max-width: 75%;
  border-radius: 1rem;
  background-color: #9EB8D9;
}

.bucket {
  color: #7C93C3;
  width: 8rem;
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: black 1px solid;
  border-radius: 0px 0px 6px 6px;
  border-top: none;
}

.bucket-warning {
  color: red;
}

.bucket-text {
  font-size: 3rem;
}