* {
  box-sizing: border-box;
}

.center {
  display: flex;
  justify-content: center;
}

.true-center {
  height: 100%;
  margin: 10rem auto;
}

.loading {
  margin: auto;
}

.app-title {
  display: flex;
}

.bucket {
  color: #7C93C3;
  width: 12rem;
  height: 16rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: black 1px solid;
  border-radius: 0px 0px 6px 6px;
  border-top: none;
}

.bucket-warning {
  color: red;
}

.bucket-text {
  font-size: 3rem;
}
